<div class="row">
  <div class="medium-2 columns">
    <ul class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">New Releases</a></li>
      <li><a href="#">Horror</a></li>
      <li><a href="#">Action</a></li>
      <li><a href="#">Drama</a></li>
    </ul>
  </div>

  <div class="medium-10 columns">
    <%= render @movie %>

    <div>
      <%= button_to "Rent!", movie_rentals_path(@movie), class: :button %>
    </div>

    <div>
      <%= link_to "Back", movies_path, class: :button %>
    </div>

  </div>
</div>
